.footer {
  padding-block: 4rem 2rem;
  background-color: var(--color-border-light);
  color: var(--color-text-white);
}

.footer__container {
  width: min(100%, var(--container-width));
  margin-inline: auto;
}

.footer__top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;

  padding-bottom: 2rem;
padding-left:2rem;
  border-bottom: .0625rem solid var(--color-text-dark);
}

.footer__brand h2 {
  margin-bottom: 1rem;
color: var(--color-text-dark);
  font-size: 2rem;
}

.footer__brand p {
  max-width: 26rem;

  
color: var(--color-text-dark);

  line-height: 1.8;
}

.footer__links,
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__links a,
.footer__socials a {
  
color: var(--color-text-dark);

  transition: var(--transition);
}

.footer__links a:hover,
.footer__socials a:hover {
  color: var(--color-primary-blue);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;

  
color: var(--color-text-dark);
  padding-left:2rem;

  font-size: .95rem;
}

@media (max-width: 62rem) {
  .footer__top {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 48rem) {
  .footer {
    text-align: center;
  }

  .footer__links,
  .footer__socials {
    align-items: center;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 1rem;
  }
}
