

.certificates {
  display: flex;
  flex-direction: column;

  margin: 1.5625rem 0;
  padding: 1.875rem 2.75rem;

  background-color: var(--color-border-light);
}


.certificates__header {
  padding-top: 1.25rem;
  text-align: center;
}

.certificates__header h2 {
  margin: 0.5rem 0;

  color: var(--color-text-dark);
  font-size: 2rem;
}

.certificates__header p {
  margin: 0;

  color: var(--color-text-secondary);
}

/* ==========================
   Cards
========================== */

.certificates__grid {
  display: flex;
  gap: 1.25rem;

  margin: 1.25rem 0;
  padding: 1.25rem 0;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.certificates__grid::-webkit-scrollbar {
  display: none;
}

.certificate-card {
  flex: 0 0 calc((100% - 2.5rem) / 3.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.25rem;

  background: var(--color-bg-section);

  border: 0.0625rem solid var(--color-text-white);
  border-radius: var(--radius-lg);

  text-align: center;

  scroll-snap-align: start;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 0.12);
}

.certificate-card__button {
  margin-top: 1rem;
  padding: 0.625rem 1.25rem;

  border-radius: var(--radius-pill);
  border: none;

  background: var(--color-primary-blue);
  color: var(--color-text-white);

  font-size: var(--fs-sm);
  font-weight: 600;
  text-decoration: none;

  transition: var(--transition);
}

.certificate-card__button:hover {
  background: var(--color-primary-blue-light);
  transform: translateY(-0.125rem);
}
.certificate-card img,
.certificate-card h4,
.certificate-card span,
.certificate-card p {
  margin: 0;
}
.organization{
  margin-top: 0.25rem;

}
.certificate-card__icon {
  margin-bottom: 0.75rem;

  font-size: 4rem;

  color: var(--color-primary-blue-dark);
}

.certificate-card h4 {
  margin: 0.3125rem 0;

  color: var(--color-text-dark);
}

.certificate-card span {
  margin-bottom: 0.25rem;

  color: var(--color-primary-blue);
  font-weight: var(--fw-medium);
}

.certificate-card p {
  color: var(--color-text-secondary);
  opacity: 0.89;
}

/* ==========================
   Responsive
========================== */

@media (max-width: 48rem) {
  .certificates__grid {
    flex-direction: column;
  }

  .certificate-card {
    width: 100%;
  }

  .certificates__header h2 {
    font-size: 1.75rem;
  }
}